body{
    background-color: aqua;
}
h1{
    text-align: center;
    font-style: italic;
}
img{
    position: relative;
    left: 460px;
}
button{
    position: relative;
    left: 50px;
    top: 70px;
    background-color: red;
    width: 150px;
    height: 80px;
    border-radius: 12px;
    border-color: orange;
    border-style: double;
    border-width: thick;
    
}

#house{
    width: 700px;
    height: 400px;
}
.firstright{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.firstpicture{
    margin-right: auto;
    margin-left: auto;
    width: 30%;
}
.fourpicture{
    margin-right:auto;
    margin-left:auto;
}
.fourpictureright{
    width: 30%;
}
#wrong{
    margin-right: auto;
    margin-left: auto;
    width:60%;
}
.final{
    position: relative;
    left: 400px;
    top: -40px;
}

.momentun{
    position: relative;
    left: 580px;
    top: -60px;
}

p{
    color: red;
    font-size: 20px;
    position: relative;
    top: -180;
    
}