body{
    background-color: aqua;
}
h1{
    text-align: center;
    font-style: italic;
}
img{
    position: relative;
    left: 460px;
}
button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#house{
    width: 700px;
    height: 400px;
}
.firstright{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.firstpicture{
    margin-right: auto;
    margin-left: auto;
    width: 30%;
}
.fourpicture{
    margin-right:auto;
    margin-left:auto;
}
.fourpictureright{
    width: 30%;
}
#wrong{
    margin-right: auto;
    margin-left: auto;
    width:60%;
}