body{
    background-color: aqua;
}
h1{
    text-align: center;
    font-style: italic;
}
img{
    position: relative;
    left: 460px;
}
button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#second{
    text-align: center;
}

.h{
    height: 30px;
    width: 90px;
    background-color: red;
}
#house{
    width: 600px;
    height: 400px;
}